h2{
    color: blue;
    transform: scaleX(0.5);
}
div{
    color: rgb(13, 3, 3);
}
button {
    background-color: rgb(125, 53, 159);
    shape-outside: circle();
    box-shadow: inset 0 0 10px #000000  ;
    transition: background-color 0.5s;
    transform: 5s;
    transition-duration: 4s;
}
button:hover {
    background-color: rgb(55, 155, 22);
    transition: background-color 0.5s;
    transform: 5s;
}
*{
    box-sizing: border-box;
    background-color: pink;
}